<%= render 'nav' %>

<h1>Plans</h1>

<%= link_to 'New', tang.new_admin_plan_path %>

<table>
  <thead>
    <tr>
      <th>Plan</th>
      <th>Cost</th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= link_to plan.name, tang.admin_plan_path(plan) %></td>
        <td><%= "#{plan_cost(plan)}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
