<div class="row">

  <div class="col-sm-3 col-md-2">
    <%= render 'nav' %>
  </div>

  <div class="col-sm-9 col-md-10">
    <%= form_tag admin_search_path, method: :get do %>
      <div class="form-group">
        <%= search_field_tag :query, @query, placeholder: 'Search...', class: 'form-control' %>
      </div>
    <% end %>
