<p>Hi there,</p>

<p>It's so awesome to see you've upgraded to our <%= @subscription.plan.name %> plan!</p>

<p>We pride ourselves on communication, and try our best to be in touch with you, whether it's just for a quick chat or when you have an important question or problem. Please feel free to hit reply if you'd like to say hello.</p>

<p>Just so you know, you can cancel your subscription at any time. You're never locked into a plan.</p>

<p>We hope you enjoy <%= Tang.company_name %> :)</p>