<html>
  <body>
    <h1>Receipt</h1>
    <p>
      You purchased <% @charge.invoice.subscription.plan.name %> for <% number_to_currency(@charge.amount) %> on <%= @charge.created_at %>.
    </p>
    <p>
      Thank you for your purchase!
    </p>
    <p>
      <%= link_to 'View your receipt', account_receipt_url(@charge) %>.
    </p>
  </body>
</html>