<html>
  <body>
    <h1>Receipt</h1>
    <p>
      You purchased <% # TODO: Plan name %> for <% # TODO: Plan cost %> on <%= @charge.created_at %>.
    </p>
    <p>
      Thank you for your purchase!
    </p>
  </body>
</html>