<!DOCTYPE html>
<html>
<head>
  <title>Tang</title>
  <%= stylesheet_link_tag    "tang/application", media: "all" %>
  <%= javascript_include_tag "tang/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
