<div class="payment-row">
  <label for="name">Cardholder name</label>
  <input id="name" type="text" autocomplete="cc-name" placeholder="Full Name" required class="form-control">
</div>

<div class="payment-row">
  <label for="card-element">Credit or debit card</label>
  <div id="card-element"></div>
</div>

<div id="card-errors" role="alert"></div>
