<%= link_to 'View your subscription', account_subscription_path, class: 'btn btn-secondary float-xs-right' %>
<h2>Receipts</h2>
<hr>

<% if @invoices.any? %>
  <ul class="list-group">
    <% @invoices.each do |invoice| %>
      <%= render partial: 'tang/account/receipts/receipt', locals: { invoice: invoice } %>
    <% end %>
  </ul>
<% else %>
  <p>You don't have any receipts.</p>
<% end %>

<%= will_paginate @invoices %>
